*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
}
:root{
    --buttonColorbackground: #034B06;        ;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-width: 80%;
    margin: auto;
    position:fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1064;
    padding:20px ;
    /* padding: 20px 0px 20px 0px; */
    border-bottom: 2px solid rgba(42, 42, 42, 0.08);

   
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 80%;

    
}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.line{
    border-left: 2px solid #034B06;
    width: 4px;
    height: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.nav a{
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    font-style: bold;
    font-weight: 400;
    cursor: pointer;
}
.logo{
    padding-right: 30px;
}
button{
    background-color: var(--buttonColorbackground);
    font-family:"Noto Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    font-style: bold;
    text-align: center;
    line-height: 100%;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans';
}
/* for hero section */
.hero{
   
    width: 80%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.hero p{
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);

 }
 .herobtn{
    display: flex;
    justify-content:flex-start;
 }
 
 .hero h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 150%;    
 }
 .herobtn .btn2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5F5F5;
    width: 200px;
    color: #00000080;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;
 }
 /* for products */
 .products{
    min-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .title h1{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #034B06;
    text-align: center; 
    margin-bottom: 30px;
 }
 .title nav{
    height: 22px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
 .title nav a{
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 10px;
    font-style: bold;
    font-weight: 400;
    cursor: pointer;
}
.title nav{
    border-bottom: 1px solid rgba(3, 75, 6, 0.5);

}
.bold a{
    background: #034B06;
    border-radius: 8px 8px 0px 0px;

}

.all a{
    display: none;
}

/* for cartItems */
.cartItems{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.cartElements{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.cartgoods{
    height: 400px;
    width: 350px;
    box-shadow:  0px 1px 10px #00000052;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.goods3, .goods6{
    padding-top: 20px;
    padding-bottom: 30px;

}
.name{
    width: 230px;
    text-align: center;
}
  
.goods3 img, .goods4 img, .goods5 img{
    width: 200px;
    margin-top: 10px;
}
.goods6 img{
    width: 200px;

}
.cartgoods button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    width: 300px;
    height: 40px;
    background: #034B06;
    border-radius: 8px;
    margin: auto;

}.cartgoods button img{
    margin-left: 5px;
    height: 22.5px; 
    width: 22px;
    border-radius: 0px;

}
.goodsname{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
    margin:5px auto 0px auto;
}
.goodsname h4{  
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.goodsname  h5{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: right;
color: #000000;

}
.goodsprice{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.goodsprice span{
     width: 10px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000; 
}
.goodsprice p{
    padding-right: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}
.center-button{
    margin: auto;
}
.view{
    width: 200px;
    height: 40px;
    background: white;
    border: 2px solid #034B06;
    border-radius: 8px;
    color: #034B06;
    margin: 30px 0px 30px 0;
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    
}
.view p{
    padding-right: 10px;
}
.cartElements form{
    display: flex;
    width: 200px;
}
.cartgoods .pricing{
    width: 300px;
    margin: auto;
}


/* for showcase */
.show{
    width:80%;
    margin: auto;
}
.market{
    text-align: center;
    margin-bottom: 20px;
}
.market h1{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #034B06;
    
}
.showImage{
   width: 50%;
   text-align: center;
   margin-bottom: 30px;
}
.showWords{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
}
.showWords p{
    text-align: justify;
    padding: 30px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    font-size: 18px;
    width: 80%;

 }
 .showWords button{
    margin-bottom: 30px;
    margin-left: 30px;
 }
.showcase{
    display: flex;
}
/* for testimonial section */
    .testimonial{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    .testimonial h4{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: center; 
        color: #034B06;
    }
    .person{
        display: flex;
        justify-content:space-around;
        align-items: center;
        margin-top: 30px;
        position: relative;
    }
    .left{
        display: flex;
        flex-direction: column;
        height: 350px;

    }
    .arrowleft{
        margin-top: 50px;
        width: 50px;
        position: absolute;
        left: 40px;
        top: 70px;
        cursor: pointer;

    }
    .middle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .name{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }
    .location{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
    .middle .star{
        margin-top: 20px;
    }
    .middle h3{
        padding-top: 30px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);     
    }
    
    .right{
        display: flex;
        flex-direction: column;
        height: 350px;

       
    }
    .arrowright{
        margin-top: 50px;
        width: 50px;
        position: absolute;
        right: 40px;
        top: 70px;
        cursor: pointer;

    }
    /* for footer */
    .footer{
        width: 100%;
        background: #034B06;
        margin-top: 40px;
    }
    .normal{
        width: 80%;
        margin: auto;
        display: flex;
    }
    .footerlogo{
        width: 99.99px;
        height: 70px;
        margin-bottom: 30px;
    }
    .footerimg {
        /* height: 32px; */
        width: 200px;
        display: flex; 
        justify-content: space-between;     
     }
     .footerimg img{
        width: 32px;
        height: 30px;
     }
    .holder{
        display: flex;
        flex-direction: column;
    }
    .holder  h4{
        padding-top: 20px;
        padding-bottom: 30px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .footitem{
        width: 30%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footitem p{
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            width: 276px;
            height: 96px;
            color: #FFFFFF;
            margin-bottom: 80px;
        }
    .footitems{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    ul li{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 13px;
        color: #FFFFFF;
        cursor: pointer;
        list-style-type: none;
    }
    .menubtn1{
        width: 249px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #072D09;
        border-radius: 8px;
        margin-bottom: 20px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        padding-left: 20px;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .menubtn2{
        width: 249px;
        height: 50px;
        background: #072D09;
        border-radius: 8px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
    form p{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 13px;
        color: #FFFFFF;
        cursor: pointer;
    }
    form{
        display: flex;
        flex-direction: column;
    }
@media screen and (max-width:768px) {
    header{
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding-top: 20px;
    }
    .container{
        width: 100%;
        padding:30px;
        justify-content: space-between;
    }
    .nav{
        display: none;
    }
    .desktop{
        display: none;
    }
    .hamburger{
        display: block;
    }
    /* .hamburger img{
        display: flex;
        width: 50px;
    } */
    .hero{
        width: 80%;
        flex-direction: column;
        margin-top: 120px;
    }
    .article h1{
        font-size: 45px;
        line-height: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
    .article p{
        font-size: 18px;
    }

    .herobtn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding-top: 20px;
    }
    .herobtn .btn2{
        margin-top: 10px;
    }
    .content{
        text-align: center;
    }
    .img{
        width: 300px;
    }
    .products{
        width: 80%;
    }

    .products nav{
        display: none;
    }
    .all{
        text-align: center;
        margin:15px;

    }
    .all a{
        text-align: center;
        display: contents;
        text-decoration: none;
        font-size: 20px;
        padding: 30px;
        font-style: bold;
        font-weight: 400;
        cursor: pointer;
    }
    .cartItems{
        justify-content: center;
        align-items: center;
    }
    .cartElements{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .cartgoods{
        width: 250PX;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cartgoods .pricing{
        width: 200px;
        margin: auto;
    }
    .goodsname{
        width: 200px;
    }
    .cartgoods button{
        width: 200px;
    }
    .show{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .showcase{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .showImage{
        width: 100%;
        text-align: center;
    }
    .showImage img{
        width: 250px;
    }
    .showWords{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .showWords p{
        text-align: center;
        padding-top: 10px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        font-size: 16px;
        width: 100%;
     }
     .showWords button{
        margin-right: 15px;
     }
    .market{
        text-align: center;
    }
    .testimonial{
        width: 80%;
        margin-bottom: 30px;
    }
    .left, .right{
        display: none;
    }
    .middle h3{
        padding-top: 30px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);     
    }
    .footitem{
        width: 8 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footitems{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .normal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holder{
        justify-content: center;
        align-items: center;

    }
    .holder h4{
        padding: 5px;
    }
    form{
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .footerimg{
        display: none;
    }
}
@media screen and (max-width:443px) {
    .article h1{
        font-size: 30px;
    }
}